fieldset, iframe{
	padding: 0;
	margin: 0;
	border: 0;
}
label, legend, .label, fieldset legend{
	font-family:$font-family-sans-serif;
	color:$primary;
	font-size:.875rem;
	font-weight:normal;
	padding:0;
	@media #{$medium-up} {
		font-size:.8125rem;
	}
	text-transform:capitalize;
	padding-top:.25rem;
	margin-bottom:.25rem;
	line-height:1.125rem;
	display:block;
	&.error{
		padding-top:0;
	}
	/*
	&.error, &.invalid{
		@extend .body-small;
		color:$highlight!important;
		text-transform:none;
		font-style:italic;
		font-weight:bold;
	}
	*/
}
input:not(.error)~label.error{display:none;}
$button-small-size:rem-calc(48);
$button-medium-size:rem-calc(44);
$button-large-size:rem-calc(44);
button, input[type="button"], .button, input[type="submit"]{
	font-family:$font-family-serif;
	color:$white;
	background-color:$active;
	font-size:1rem;
	min-height:$button-small-size;
    min-width:$button-small-size;
	padding:0.375rem 0.625rem;
	border-radius:3px;
	border:none;
	-webkit-transition: color .5s, background-color .5s;
	transition: color .5s, background-color .5s;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	
	outline:0!important;
	cursor:default;
	top: 0;
	right:0;
	bottom:0;
	top:0;
	text-rendering: auto;
	display: inline-block;
	position:relative;
	white-space:normal;
	border:1px solid $active;
	&.btn-block,
	&.expand{
		width:100%;
		padding:0.375rem 0.625rem;
	}
	&.prefix{
		border:none;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
		min-height:$button-medium-size;
	}
	&.postfix{
		border:none;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		min-height:$button-medium-size;
	}
	&.btn-micro,
	&.btn-micro-secondary{
		font-family:$font-family-sans-serif;
		text-transform:uppercase;
		font-size:.875rem;
		@media #{$medium-up} {
			font-size:.75rem;
		}
	}
	&.btn-secondary{
		color:$active;
		background-color:$white;
		border:1px solid $active;
	}
	&.btn-micro-secondary{
		color:$secondary;
		background-color:white;
		border:1px solid $inactive;
	}

	@media #{$medium-up} {
		font-size:.875rem;
		min-height:$button-medium-size;
        min-width:$button-medium-size;
		&.prefix, &.postfix{
			min-height:$button-medium-size;
            min-width:$button-medium-size;
		}
	}
	&:hover, &:focus, &:active{
		text-decoration:none!important;
		background-color:$active-dark-mix;
		border-color:$active-dark-mix;
		color:#FFF;
		cursor:pointer;
		&:focus, &:active{
			/*border:2px solid $active-secondary;*/
			box-shadow:0 0 0 2px $active-secondary;
			border-color:$active-secondary;
		}
		/*
		@media #{$medium-up} {
			background-color:$active-dark-mix;
		}
		*/
				
		&.btn-secondary,
		&.btn-micro-secondary{
			color:$active-dark-mix;
			background-color:$white;
			/*border:1px solid $active-dark-mix;*/
			border-color:$active-dark-mix;
			&:focus, &:active{
			/*	border:2px solid $active-secondary;*/
			box-shadow:0 0 0 2px $active-secondary;
			border-color:$active-secondary;
			}
		}
	}
	&.disabled, &[disabled], &.disabled:hover, &[disabled]:hover{
		/*&:hover, &:focus, &:active{*/
		/*
		&:not(.btn-secondary){
			color:$white!important;
		}
		*/
		background-color:$active-muted-mix;
		border-color:$active-muted-mix;
		opacity:1;
		cursor:default;
		/*
		&:hover, &:focus{
			background-color:$active-lightened;
			cursor:default;
			opacity:1;
		}
		*/
		&.btn-secondary, &.btn-secondary:hover,
		&.btn-micro-secondary, &.btn-micro-secondary:hover{
			color:$active-muted-mix;
			background-color:$white;
		/*}*/
		}
	}
	&.addedToCart{
		background-color:$TBD!important;
	}
}
a.button{
	padding-top:0!important;
	padding-bottom:0!important;
    line-height:calc(#{$button-small-size} - 2px);
	@media #{$medium-up} {
        line-height:calc(#{$button-medium-size} - 2px);
	}
}
.sqbtt{

    background-color:$inactive;
    border-radius:3px;
	width:2.75rem;
	height:2.75rem;
    line-height:2.75rem;
    margin:0;
	bottom:8rem;
	right:.375rem;
	position:fixed;
	z-index:1;
	transition:transform .25s;
    & span{
        margin:0;
        color:$white;
    }
    &.hidden{
        transform:translateY(11rem)
    }
}

$input-border:1px solid $inactive;
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
	font-family:$font-family-sans-serif;
	box-shadow:none;
	height:$button-small-size;
	color:$secondary;
	background-color:$white;
	border:$input-border;
	font-size:1rem;
	/*margin-bottom:1.25rem;*/
	margin-bottom:1rem;
	&.error, &.invalid{
		border-color:$highlight;
		margin-bottom:.375rem;
	}
	@media #{$medium-up} {
		font-size:.875rem;
		height:$button-medium-size;

	}
    
	&:disabled, &[disabled]{
		color:$secondary;
	   background-color:$white;
		
		    ::-webkit-input-placeholder {
     	 color: $inactive-lightened;
      	opacity:1;
    	}

	    :-moz-placeholder {
       	color: $inactive-lightened;
       	opacity:1;
    	}
	
	    ::-moz-placeholder {
       	color: $inactive-lightened;
       	opacity:1;  
    	}
	
	    :-ms-input-placeholder {  
       	color: $inactive-lightened;
       opacity:1;  
	    }
		
		
	}
    
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:placeholder {
  		color: $inactive;
	}
	&:focus{
		border-color:$active;
		background-color:$white;
	}
	&[readonly]{
		background-color:transparent;
		padding-left:0;
		border:transparent;
	}
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type='email']{text-transform:lowercase;}
input.expand{
	width:100%;
}
    // style placeholder text cross browser
    ::-webkit-input-placeholder {
      color: $inactive;
      opacity:1;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $inactive;
       opacity:1;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $inactive;
       opacity:1;  
    }

    :-ms-input-placeholder {  
       color: $inactive;
       opacity:1;  
    }
textarea{
	height:5.25rem;
}
select{
	text-overflow:ellipsis;
	font-family:$font-family-sans-serif;
	color:$secondary;
	background-color:$white;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAMAAACecocUAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsSAAALEgHS3X78AAAAPFBMVEUAAACooJipoZmpoZq6tK28tq++uLLBu7XBvLbHwrzJxL/j4d7t6+nt7Orx7+7x8O/19PP49/b5+Pf////0PEFnAAAAAWJLR0QAiAUdSAAAAENJREFUCB0FwUkOAjEQBDBXkUx6hPj/Wzmw2Hm+C/zO6vcDZPXagHnUBGTU2uBEmSA3ZW2cUEzkRrEuJyhcHSjsV+EPGJAEzERvHV0AAAAASUVORK5CYII=");
		@media #{$retina}{
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAmVBMVEUAAAD///+on5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5fTg4xxAAAAMnRSTlMAAAECBAYJDBATGRsgJCUxMjk/QElOWV1pbXl8iIuYmqiqsbe4ucDGyM/T3N/n6PD3/BDs6q8AAAB/SURBVHjabcjXGoIgAIDRvz1t2V62s6ny/g/XZ0SAcC4PsfCICX0dwtndEzBwuw+wL+6OXC+zNwv4iuzeInVSc9M2Pxuz1yitRG/S5G+le4nWeKt91TEsVM8x1Z5yH1UsM9lTbJV7vrcyBZO8xziuQlxwjYQY4nE84BN00UpeH1XyLY/gvzf9AAAAAElFTkSuQmCC);
			background-size:.6875rem;
		}
	background-position: right .5rem top 50%;
	border:1px solid $inactive;
	border-radius:3px;
	font-size:1rem;
	height:$button-small-size;
	padding-right:$button-small-size;
	&.error, &.invalid{
		border-color:$highlight;
		margin-bottom:.375rem;
	}
	&:hover{
		background-color:$white;
	}
	@media #{$medium-up} {
		font-size:.875rem;
		height:$button-medium-size;
		padding-right:$button-medium-size;
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIBAMAAAA2IaO4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsSAAALEgHS3X78AAAAKlBMVEUAAACooJiooKaorMCouM69oJi90f/IrJjI4//k////0bP/0cD//+H///9Uh+sLAAAAAWJLR0QAiAUdSAAAAC5JREFUCNdjDnzJyc0UwMDAzKTGwKDMJMzAGMLElMAUwMRoIMLAxKCmCiREHBgAYX4D/LRlUWgAAAAASUVORK5CYII=");
		@media #{$retina}{
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAgVBMVEUAAAD///+on5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5eon5e83vy/AAAAKnRSTlMAAAIEBwkOEBcZIyQwMT9ATlNgY3F0goWUlaWmtrfHyNTX4uPs7fT1+v5fpQ8JAAAAYklEQVR4AV3IVRoCIBQF4bG7u1vh7H+BfshVwP9thpMKR0YqDOGQ9x4Y+NS+D7BLY0vQczKuy8dGZk3UecV+tjGrOJZ8tR6h701+FmHMSRo36VonM5Om5GqXc5XCZIyp/HkDlqAUJvq2zs0AAAAASUVORK5CYII=);
		background-size:.5rem;
		}
	}
	&:disabled,
	& option:disabled{
		/*color:$secondary;*/ 
		background-color:$white;
		opacity:.5; 
	}
}
select::-ms-expand {
    display: none;
}
input[type="submit"], input[type="button"], button, .button{
	margin-bottom:1rem;
}

:disabled,
.disabled,
[disabled],
:disabled+label,
.disabled+label,
[disabled]+label{
    opacity:.5
}
input[type="radio"], input[type="checkbox"]{
    visibility:hidden;
	position:absolute;
    +label{
        @extend .body;
        display:inline-block;
		padding-left:2rem;
		padding-top:0;
		position:relative;
		margin:0 .75rem 1.75rem 0;
        text-transform: none;
        &.fine-print{
            @extend .body-small;
            margin-bottom:rem-calc(20)
		}
    }
    &+label:not(.super-check)::before{
        display: inline-block;
        content: "";
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid $inactive;
        background-color: #FFFFFF;
        margin-right: .75rem;
        transition: all .25s;
        position: relative;
        top: .25rem;
        margin-left: -2rem;
    }
    &.error+label:not(.super-check)::before{
        border-color:$highlight;
    }
    &.error:checked+label:not(.super-check)::before{
        background-color:$highlight;
    }    
    &:checked+label:not(.super-check)::before{
        background-color:$active;
    }  
}
input[type="radio"]+label::before,
input[type="radio"]+label::after{
    border-radius:1000px;
}
input[type="radio"]:checked+label:not(.error):not(.super-check)::after{
    display:inline-block;
	content:"";
	width:.5rem;
	height:.5rem;
	position:absolute;
	background-color:white;
	top:.625rem;
	left:.375rem;
}
input[type="checkbox"]:checked+label:not(.error):not(.super-check)::after{
	display:inline-block;
	content:"";
	width:.75rem;
	height:.5rem;
	position:absolute;
	border-color:white;
	border-style:solid;
	border-width:0 0 3px 3px;
	top:.5rem;
	left:.25rem;
	transform:rotate(-45deg);
}


input[type="checkbox"]+label.super-check{
    color:$secondary;
    .midnight &{
        color:$white;
    }
}
input[type="checkbox"]:checked+label.super-check{
    background-color:$secondary;
    color:$white;
    .midnight &{
        background-color:$white;
        color:$primary;
    }
}
input[type="checkbox"]+label.super-check::before{
    display:inline-block;
	content:"";
    border:1px solid $secondary;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-radius:1000px;
    transition:all .25s;
    transition-timing-function:cubic-bezier(.01,.25,.31,1.84);
    .midnight &{
        border-color:$white;
    }
}
input[type="checkbox"]:checked+label.super-check::before{
    top:-2px;
    right:-2px;
    bottom:-2px;
    left:-2px; 
}
input[type="checkbox"]+label.super-check{
    padding:0 1rem;
    height:2.3125rem;
    line-height: 2.3125rem;
    border-radius:1000px;
}
input[type="checkbox"].error+label.super-check{
    color:$highlight;
}
input[type="checkbox"].error:checked+label.super-check{
    background-color:$highlight;
    color:$white;
}
input[type="checkbox"].error+label.super-check::before{
    border-color:$highlight;
}



.input-notes{
	@extend .body-small;
	display:block;
	
	font-style:italic;
	color:$primary;
	input+&,
	select+&,
	.inputGroup+&,
	table+&{
		margin-top:-.75rem; /* only if after an input */
	}
}
label.error+.input-notes{
	display:none;
}
/*
input.error:focus+label.error+.input-notes{
	display:block;
}
input.error:focus+label.error{
	display:none;
} 
*/ 
/* temporary fix for wish list */
.moveTo label > input,
#filterForm label > input{
	display:inline;
	visibility:visible;
	position:static;
}
.moveTo input+label {text-transform:none;}

.formError.body-small{
	margin-bottom:0;
	font-weight:bold;
	color:$highlight;
}
.reveal-modal{
	color:$primary;
	padding:2.25rem;
	max-width:40rem;
	.close-reveal-modal{
		right:0.5rem;
		top:0;
		&:hover{
			text-decoration:none;
		}
	}
    .modal-buttons{
        text-align: right;
        .btn-secondary{
            margin-left:.5rem;
        }
        button{
            margin-bottom: 0;
            margin-top:.875rem;
            @media #{$small-only}{
                width:100%;
                margin-left:0!important;
                margin-right:0!important;
            }
        }
    }
}
label.addRemove{
	&:not(.disabled):hover{
		cursor:pointer;
	}
    &.disabled{
        color:$inactive;
    }
	@extend .body-small-caps;
	padding-left:$button-small-size+.5rem;
	padding-top:0;
	line-height:$button-small-size;
	display:inline-block;
	position:relative;
	&::before, &::after{
		position:absolute;
		top:0;
		left:0;
		line-height:1;
		height:$button-small-size;
		width:$button-small-size;
	}
	&::before{
		content:"";
		@extend button.btn-secondary;
	}
	&::after{
		@extend button.btn-secondary;
		background-color:transparent;
		font-size: 2.25rem;
		text-align:center;
		font-weight:bold;
	}
	&.add::after{
		content:"+";
	}
	&.remove::after{
		content:"-";
	}
}
.inputGroup{
	display:-webkit-flex;
	display:flex;
	flex-flow:row wrap;
	& input:first-child{
		min-width:0;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
		-webkit-flex-grow:1;
		flex-grow:1;
		width:2rem;
	}
	& button{
		border:$input-border;
		border-left:0;
		font-family:noto sans;
		text-transform:uppercase;
		/*font-weight:bold;*/
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		-webkit-flex-shrink:0;
		flex-shrink:0;
		&.btn-secondary{
			background-color:#FFF;
			color:$secondary;
		}
		font-size:.875rem;
		@media #{$medium-up} {
			font-size:.75rem;
		}
	}
	& label.error{
		width:100%;
	}
	& .error~button{
		margin-bottom:.375rem;
	}
	& .icon-close~label.error{
		margin-top:.375rem!important;
	}
}



.socialNetwork{
	@extend .body-small;
    color:#FFF!important;
    background-color:$active-light-mix;
    border-radius:3px;
    background-image:none!important;
    padding:.25rem .375rem;
    @media #{$medium-up}{
        padding:.125rem .375rem;
    }
}
.socialNetwork+.socialNetwork{
    margin-left:.5rem;
}
.socialNetwork:before{
	margin-right:.25rem;
	font-family:"uncommongoods";
	content:"\65";
	
	@extend .icon-sm;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.socialNetwork.facebook{
	/*background-color:$facebook;*/
    background-color:#4267b2;
}
.socialNetwork.facebook:before{
    @extend .icon-facebook;
}
.socialNetwork.pinterest{
	background-color:$pinterest;
}
.socialNetwork.pinterest:before{
	 @extend .icon-pinterest_hollow;
}
.socialNetwork.twitter{
	background-color:$twitter;
}
.socialNetwork.twitter:before{
	 @extend .icon-twitter;
}
.socialNetwork.instagram{
	background-color:$instagram;
}
.socialNetwork.instagram:before{
	 @extend .icon-instagram;
}
.socialNetwork.googleplus{
	background-color:$googleplus;
}
.socialNetwork.googleplus:before{
	 @extend .icon-googleplus;
}

/* jquery-ui calendar widget */
#ui-datepicker-div{
    background-color:#FFF;
    border:2px solid $active-light-mix;
    padding:.75rem;
    & .ui-datepicker-title{
        text-align: center;
        line-height: 1;
        margin-bottom: .5rem;
    }
    & a[title="Prev"]{
        float:left;
        @extend [class^="icon-"];
        @extend .icon-caret_left;
    }
    & a[title="Next"]{
        float:right;
        @extend [class^="icon-"];
        @extend .icon-caret_right;
        text-align:right;
    }
    & a[title="Prev"] span,
    & a[title="Next"] span{
        display:none;
    }
}